<div class="form-group row">
    <label for="apiKey" class="form-label">API Key to use:</label>
    <div class="input-group col-sm-6">
        <input type="password" class="form-control" id="apiKey" placeholder="Enter your API Key">
        <button class="btn btn-outline-secondary" type="button" id="showApiKey">Show</button>
    </div>
</div>

<script>
    document.getElementById("showApiKey").addEventListener("click", function () {
        var apiKeyInput = document.getElementById("apiKey");
        var apiKeyButton = document.getElementById("showApiKey");
        if (apiKeyInput.type === "password") {
            apiKeyInput.type = "text";
            apiKeyButton.textContent = "Hide";
        } else {
            apiKeyInput.type = "password";
            apiKeyButton.textContent = "Show";
        }
    });
</script>